.grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px;
    flex-direction: row;
    align-content: space-around;
}

.contat {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 50px;
}

.demo-table {
    width: 100%;
}

  table {
    width: 100%;
  }

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}


// .example-ripple-container {
//     cursor: pointer;
//     text-align: center;
  
//     user-select: none;
//     -webkit-user-select: none;
//     -moz-user-select: none;
  
//     -webkit-user-drag: none;
//     -webkit-tap-highlight-color: transparent;
//   }