.grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
    flex-direction: row;
    align-content: space-around;
}

.contat {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 50px;
}

.demo-table {
    width: 100%;
}

table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-cell {
    text-align: center;
}

.dropdown-container {
    display: inline-block;
}

.dropdown-form-field {
    width: 82px;
    height: 62px;
    font-size: 12px;
    text-align: justify;
}

.dropdown-select {
    padding: 0 8px;
}

.mat-mdc-option {
    min-height: 29px;
}