<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="card" style="margin: 34px;">
    <div class="card-container purple-container overflow">
        <div class="grid">
            <div class="col-4" style="text-align: center;">
                <div class="justify-content-center">
                    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                        filterBy="name" [showClear]="true" placeholder="Select a Country" (onChange)="onChange($event)">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                                <div>{{ selectedCountry.name}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="col-4 arg1" style="text-align: center;">
                <p-dropdown [options]="states" [(ngModel)]="selectedStates" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Select a State">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedStates">
                            <div>{{ selectedStates.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-state pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ state.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <!--<div class="col-2 arg1">
                <mat-form-field appearance="outline">
                    <mat-label>Travel Mode</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option value="1">Driving</mat-option>
                        <mat-option value="2">Walking</mat-option>
                        <mat-option value="3">BiCycle</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </div>
        <div class="grid">
            <button mat-flat-button color="primary" style="width: 15%;" (click)="searchVdsCity()">Search</button>
        </div>
    </div>
</div> 

<div class="container" class="contat" *ngIf="dataSource.data.length>0">
    <div class="grid">
        <div class="mat-elevation-z8">
            <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
  </div> -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                <!-- Position Column -->
                <ng-container matColumnDef="Source">
                    <th mat-header-cell class="center-cell" *matHeaderCellDef> Source </th>
                    <td mat-cell class="center-cell" *matCellDef="let element" (click)="onRowClick(element)">
                        {{element.sourceCity}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Destination">
                    <th mat-header-cell class="center-cell" *matHeaderCellDef> Destination </th>
                    <td mat-cell class="center-cell" *matCellDef="let element" (click)="onRowClick(element)">
                        {{element.destinationCity}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="System Distance">
                    <th mat-header-cell class="center-cell" *matHeaderCellDef> System Distance </th>
                    <td mat-cell class="center-cell" *matCellDef="let element"> {{element.distance}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <!-- <ng-container matColumnDef="System Distance">
                    <th mat-header-cell *matHeaderCellDef> System Distance </th>
                    <td mat-cell class="center-cell" *matCellDef="let element"> {{element.systemdistance}} </td>
                </ng-container> -->

                <ng-container matColumnDef="Auto Update">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Auto Update
                        <mat-slide-toggle *ngIf="!selectAllToggle" class="toggle" [checked]="selectAllToggle"
                            (change)="selectAllTogglefunction($event,'Toggle')" color="primary">
                        </mat-slide-toggle>
                        <div class="dropdown-container" class="toggle" *ngIf="selectAllToggle">
                            <mat-form-field appearance="fill" class="dropdown-form-field">
                                <mat-select class="dropdown-select" [(value)]="selectoption" (selectionChange)="selectAllTogglefunction($event,'DropDown')">
                                    <mat-option value="">--</mat-option>
                                    <mat-option value="D">D</mat-option>
                                    <mat-option value="W">W</mat-option>
                                    <mat-option value="M">M</mat-option>
                                    <mat-option value="Y">Y</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="center-cell">
                        <mat-slide-toggle *ngIf="!element.autoupdate" [checked]="element.autoupdate" (change)="selectUpdateProcess(element, $event,'Toggle')"
                            color="primary">
                        </mat-slide-toggle>
                        <div class="dropdown-container" *ngIf="element.autoupdate">
                            <mat-form-field appearance="fill" class="dropdown-form-field">
                                <mat-select class="dropdown-select" [(value)]="element.updateProcess" (selectionChange)="selectUpdateProcess(element, $event,'DropDown')">
                                    <mat-option value="">--</mat-option>
                                    <mat-option value="D">D</mat-option>
                                    <mat-option value="W">W</mat-option>
                                    <mat-option value="M">M</mat-option>
                                    <mat-option value="Y">Y</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements" (page)="handlePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>
<div class="grid" *ngIf="(dataSource.data.length > 0)">
    <button mat-flat-button color="primary" style="width: 10%; margin: 0px 25px;"
        (click)="submitRecords()">Save</button>
    <button mat-flat-button color="primary" style="width: 10%; margin: 0px 25px;" (click)="clearTable()">Cancel</button>
</div>