
<mat-sidenav-container autosize class="nav-container" >
    <!-- (backdropClick)="sidenav.close()" -->
   <!-- <mat-sidenav #sidenav (keydown.escape)="sidenav.close()">
        <nav class="nav">
            <ul class="navbar-nav mx-3 mt-3">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[]" (click)="sidenav.close()">Calculate Distance</a>
                </li>
            </ul>
        </nav>
    </mat-sidenav> -->
    <mat-sidenav-content>
        <div class="header sticky-top py-2">
            <div class="row" style="flex-wrap: nowrap;">
                <!-- <div class="col-sm-1 col-md-1 col-lg-1 pl-4 arg1">
                    <button type="button" pButton class="menu-button" icon="pi pi-bars"
                        (click)="sidenav.open()"></button>
                </div> -->
                <div class="col-sm-3 col-md-3 col-lg-3 heading-name arg2">
                        <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="OnActiveItemChange($event)"></p-tabMenu>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 pr-1 p-text-white arg4">
                    <div class="name" style="font-weight: bold;">Username</div>
                    <button mat-icon-button [matMenuTriggerFor]="usermenu">
                        <mat-icon class="icon">account_circle</mat-icon>
                    </button>
                    <mat-menu #usermenu yPosition="below">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div> 
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>

<p-toast [style]="{ top: '100px',right: '20px' }"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>